body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 50px;
    gap: 100px;

}

.fire-man {
    width: 200px;
    height: auto;
}

.fire-spin{
    width: 150px;
    height: auto;
}

.top-sign, .call-to-button {
    background: #3882F6;
    color: white;
    width: 100px;
    border-radius: 5px;
}

.top-sign {
    border: 0;
    margin-top: 10px;
}

.call-to-button {
    border: 1px solid white
}


.header, .hero, .footer {
    background-color: #1F2937;
    color: white;
}

.header-text{
    font-size: 48px;
    font-weight:900;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.info {
    text-align: center;
    padding: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    gap: 20px;
    
}

.fire-illustration {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.fire-illustration .text {
    text-align: center;
}


.testimonial {
    background-color: #E5E7EB;
    padding: 70px;
}

.qoute {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.call-to-action {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #3882F6;
    color: white;
    padding: 20px;
    border-radius: 5px;

}

a {
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

html, body {
    margin: 0;
}